# build files
/.vs
/.vscode
build/
bin/

# assets
Assets/*
!Assets/CornellBox
!Assets/Font
!Assets/LUT
!Assets/Samplers
!Assets/Images

# external libs
External/*
!External/concurrentqueue
!External/FastDelegate
!External/FSR2
!External/ImGui/imconfig.h
!External/stb
!External/json

# misc
docs/
Tools/dxc
temp/