# build files
/.vs
/.vscode
build/
bin/

# assets
Assets/*
!Assets/CornellBox
!Assets/Font
!Assets/LUT
!Assets/Samplers

# external libs
External/*
!External/concurrentqueue
!External/FastDelegate
!External/FSR2
!External/ImGui
!External/stb

# misc
docs/
Tools/dxc
temp/