# build files
/.vs
/.vscode
build/
bin/

# assets
Assets/*
!Assets/CornellBox
!Assets/Font
!Assets/LUT
!Assets/Samplers
!Assets/Images

# external libs
External/*
!External/concurrentqueue
!External/FastDelegate
!External/FSR2
!External/stb
!External/json
!External/ImGui
External/ImGui/imgui_*
External/ImGui/imnodes*
External/ImGui/implot*
External/ImGui/imstb*
External/ImGui/imgui.h
External/ImGui/imgui.cpp

# misc
docs/
Tools/dxc
temp/